legend {
	/*border:1px solid black;*/
	border-style: solid;
	border-color: black;
	border-width: thin;
	border-radius: 1px;
	background-color: white;
}

#fondo1{
	background-color: silver;
	border-radius: 1px;
}

#fondo2{
	background-color:peachpuff;
	border-radius: 1px;
}

#fondo3{
	background-color: rosybrown;
	border-radius: 1px;
}
ul{list-style-type: none;}